<?php
declare(strict_types=1);
return [
    'maxWorkers' => 4, // see https://clickhouse.tech/docs/ru/operations/utilities/clickhouse-copier/
    'zkCliPath' => '/var/www/zookeeper/bin/zkCli.sh',
    'zkDir' => '/clickhouse-dev', // root Zookeeper path
    'chCopierPath' => 'clickhouse-copier', // path to 'clickhouse-copier' file
    'servers' => [
        [
            'release' => [
                'host' => 'RELEASE_HOST',
                'port' => '8443', // if required
                'username' => 'USER',
                'password' => 'PWD',
                'database' => 'RELEASE_DB',
                'https' => true, // if required
                'sslCA' => __DIR__ . '/CA.pem', // if required
            ],
            'dev' => [
                'host' => 'DEV_HOST',
                'port' => '8443', // if required
                'username' => 'DEV_USER',
                'password' => 'DEV_PWD',
                'database' => 'DEV_DB',
                'https' => true, // if required
                'sslCA' => __DIR__ . '/CA.pem', // if required
            ],
            'monthDepths' => 2, // how much partitions to copy
        ]
    ],
];
